/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */

#section-content {
  padding-top: 127px;
}

/******************************************************************
 * Navigation.
 ******************************************************************/

#zone-branding-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 62px;
  padding-top: 0;
  background: #101111;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.logged-in #zone-branding-wrapper {
  top: 65px;
}

#nav-mobile {
  display: none;
}

.branding-data .name-and-slogan {
  display: block;
}

.site-slogan {
  margin-left: 8px;
}

#nav {
  width: 257px;
  float: right;
  margin-right: 45px;
}

.name-and-slogan {
  float: left;
  width: auto;
  margin-left: 27px;
}

#nav a {
  margin-top: 0;
}

.logo-img {
  width: 157px;
  float: left;
  margin-left: 67px;
  left: auto;
  position: relative;
}

#nav .logo-img {
  display: block;
}

.site-name {

}

/******************************************************************
 * Gallery.
 ******************************************************************/

.view-dl-projects .view-content {
  width: 610px;
}

.view-dl-projects li.views-row {
  margin-left: 15px;
  margin-right: 17px;
  float: left;
  position: relative;
}

.view-dl-projects .views-row h2.project-title {
  display: none;
}

.view-dl-projects .views-row a:hover h2.project-title {
  display: block;
}

h2.project-title {
  margin-left: 0;
  background: none;
  height: auto;
  width: 272px;
  top: 103px;
  padding-top: 0;
}

.view-dl-projects li.views-row a img {
  margin-top: -195px;
  position: relative;
}

.view-dl-projects li.views-row a:hover img {
  margin-top: 0;
}

/******************************************************************
 * Contact Area
 ******************************************************************/

.block-a-little-about-me {
  margin-top: 40px;
}

.block-ana-general-contact {
  margin-top: 55px;
}

#section-footer {
  padding-bottom: 0;
}


/**
 * Contact form.
 */

.submitted-img {
  margin-left: 160px;
  margin-top: 0px;
}

/**
 * Footer
 */
#boxes-box-ana_footer {
  width: 92%;
  margin-left: 3%;
  margin-right: 5%;
  margin-bottom: 0;
}

#boxes-box-ana_footer {
  margin-top: 65px;
}

