/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/******************************************************************
 * Gallery.
 ******************************************************************/

.view-dl-projects .view-content {
  width: 915px;
}

.block-boxes-ana-about,
.block-ana-general-contact {
  float: left;
}

.block-a-little-about-me {
  margin-left: 28px;
  margin-right: 180px;
  float: left;
}

#zone-content-wrapper {
  padding-bottom: 100px;
}


#boxes-box-ana_footer {
  margin-top: 145px;
}

#boxes-box-ana_footer {
  width: 880px;
  margin-left: 28px;
  margin-right: 0;
}
