/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.region-page-top {
  min-height: 0px;
}

body {
  background: #ffffff;
  font-family: arial, Verdana, sans-serif;
}

#section-content {
  padding-top: 80px;
}

a:link,
a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #ff4083;
}

/******************************************************************
 * Navigation.
 ******************************************************************/

#zone-branding-wrapper {
  padding-top: 7px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

#zone-branding-wrapper .region-branding {
  margin: 0;
}

#nav-mobile {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #101111;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  width: 100%;
  height: 62px;
}

#nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav .nav-wrap a {
  background-image: url(../images/menu-sprites-transparent.png);
  text-indent: -9000px;
  font-size: 0;
}

#nav a#portfolio {
  width: 66px;
  height: 54px;
  float: right;
  background-position: 0 0;
}

#nav a#portfolio:hover,
#nav a#portfolio.active {
  background-position: 0 -54px;
}

#nav a#contact {
  width: 153px;
  height: 54px;
  float: left;
  margin-left: 24px;
  background-position: 0 108px;
}

#nav a#contact:hover,
#nav a#contact.active {
  background-position: 0 -162px;
}


#nav .nav-wrap {
  float: left;
}

#nav .nav-wrap-left,
#nav .nav-wrap-right {
  background: #101111;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

#nav .nav-wrap-left {
  width: 40%;
}

#nav .nav-wrap-right {
  width: 60%;
}



.logo-img {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  margin-left: 0;
}

#nav .logo-img {
  display: none;
}

.logo-img img {
  margin: 0 auto;
}


/******************************************************************
 * Site name and slogan
 *****************************************************************/

.branding-data .name-and-slogan {
  display: none;
}

.site-name {
  margin-top: 11px;
}

.site-name,
.site-slogan {
  font-size: 23px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Stag Sans Book;
  font-weight: bold;
  line-height: 0;
}

.site-slogan {
  font-size: 18px;
  font-weight: normal;
  font-family: Stag light;
  font-weight: normal;
  text-transform: lowercase;
}

/******************************************************************
 * Gallery.
 *****************************************************************/

#zone-content-wrapper {
  padding-bottom: 41px;
  background-color: #ffffff;
}

.view-dl-projects {
  text-align: center;
}

.view-dl-projects .view-content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.view-dl-projects li.views-row {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 272px;
  height: 195px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  margin-bottom: 28px;
  overflow: hidden;
}

.view-dl-projects li.views-row .field-name-field-dl-gallery-media {
  float: left;
  overflow: hidden;
  width: 272px;
  height: 195px;
}

.view-dl-projects li.views-row a img {
  margin-top: -195px;
}

.view-dl-projects ul {
  margin: 0;
}

.view-dl-projects ul a {
  color: #ffffff;
  font-weight: normal;
}

h2.project-title {
  position: absolute;
  top: 90px;
  width: 190px;
  margin-left: 40px;
  padding-top: 20px;
  z-index: 5;
  margin-top: 0px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  background: #ff4083;
  height: 20px;
}

.views-field-edit-node {
  position: absolute;
  top: 82px;
  margin-bottom: -100px;
  float: left;
  width: 272px;
  /*float: left;*/
  z-index: 5;
  margin-top: 0px;
  color: #ffffff;
  /*font-size: 30px;*/
  /*font-family: "belta-regular";*/
  /*padding: 1px 15px 3px 15px;*/
  font-size: 24px;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}

.views-field-edit-node {
  top: 0px;
  background: #2b2323;
  font-size: 12px;
  padding: 0;
  font-family: Arial, sans-serif;
  text-transform: none;
  margin: 0;
  padding: 2px 4px;
}

.views-field-edit-node a,
.view-dl-projects .attachment-before a {
  color: #ffffff;
  text-decoration: none;
}

.views-field-edit-node a:hover,
.view-dl-projects .attachment-before a:hover {
  color: #ff4083;
}

.view-dl-projects .attachment-before a {
  padding: 5px 10px;
  background: #2b2323;
}

/*h2.project-title {
  position: absolute;
  float: left;
  z-index: 5;
  margin-top: 0px;
  background: #ff4083;
  color: #f3f3f3;
  top: 170px;
  margin-left: 8px;
  font-size: 18px;
  font-family: Stag Sans Book;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2px 15px;
  letter-spacing: 1px;
}*/

.pp_details {
  height: 75px;
}

.pp_gallery {
  margin-top: 45px;
  display: block;
  width: 100%;
  float: left;
}

.pp_gallery .img {
  border: 1px solid #000000;
}

.draggableviews-processed li.views-row {
  border: none;
}

/******************************************************************
 * Slogan
 ******************************************************************/

.site-slogan span {
  width: 100%;
  height: 40px;
  background: url(../images/illustration_design.png) no-repeat top center;
  float: left;
  font-size: 0px;
  text-indent: -9000px;
  margin-bottom: 19px;
  margin-top: 65px;
}

/******************************************************************
 * Contact Area
 ******************************************************************/

h2.block-title {
  color: #ff4083;
  font-size: 17px;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px dotted #8e8e8e;
  padding-bottom: 5px;
}

#section-footer {
  padding-bottom: 55px;
  width: 100%;
  float: left;
}

.region-footer-second {
  width: 100%;
  float: left;
}

#boxes-box-ana_footer {
  font-size: 10px;
  line-height: 1.2;
  float: left;
  height: 51px;
  margin-top: 50px;
  border-top: 1px solid #8e8e8e;
  color: #a4a5a5;
  font-family: Arial, sans-serif;
  width: 89%;
  margin-left: 3%;
  margin-right: 8%;
  margin-bottom: 20px;
}

#boxes-box-ana_footer span {
  font-weight: bold;
  color: #707070;
}

#boxes-box-ana_footer .boxes-box-content {
  padding-top: 14px;
  float: left;
}

#boxes-box-ana_footer .boxes-box-content p {
  margin: 0;
  padding: 0;
}

.block-a-little-about-me,
.block-ana-general-contact {
  margin: 0 auto;

}

.block-a-little-about-me .content,
.block-ana-general-contact .content {
  border-top: 1px solid #8e8e8e;
  margin-top: 2px;
}

.block-a-little-about-me .content .content {
  border: none;
}

.block-a-little-about-me {
  width: 300px;
  padding-top: 18px;
}

.block-ana-general-contact {
  width: 300px;
  padding-top: 30px;
}

.block-a-little-about-me .entity-bean {
  padding-top: 18px;
}

.block-a-little-about-me img {
  margin-bottom: 22px;
  height: auto;
  width: 300px;
}

.block-a-little-about-me p {
  margin-bottom: 11px;
}

.block-a-little-about-me p,
.block-ana-general-contact textarea,
.block-ana-general-contact input {
  font-size: 11px;
  font-family: Tahoma, Arial, sans-serif;
  color: #707070;
  line-height: 14px;
}

.block-ana-general-contact {
  width: 300px;
}

.block-ana-general-contact textarea,
.block-ana-general-contact input {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  border: 1px solid #8e8e8e;
  padding: 10px 8px;
  height: 34px;
}

.block-ana-general-contact textarea {
  height: 174px;
}

.block-ana-general-contact .content {
  padding-bottom: 0px;
}


body .contact-form textarea:focus,
body .contact-form input:focus {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

form label {
  font-size: 11px;
  font-family: Arial, sans-serif;
  color: #a4a5a5;
  margin-bottom: 3px;
  font-weight: normal;
}

.form-actions input {
  color: #ffffff;
  font-size: 12px;
  font-family: Arial, sans-serif;
  float: right;
  width: 135px;
  height: 33px;
  background: #ff4083;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 15px 0 0 0;
}

.form-actions input:hover {
  /*background: #fc659a;*/
  background: #f80b5e;
}

form label span.form-required {
  color: #a4a5a5;
}

.form-message,
#messages {
  display: none; /*Overriden by ajax when button clicked.*/
  float: left;
  clear: both;
  font-family: Arial, sans-serif;
  text-align: right;
  line-height: 12px;
  margin-top: 14px;
  color: red;
}

#messages .form-message{
  margin-top: 0;
  margin-bottom: 14px;
}

#message-sent {
  width: 104px;
  height: 33px;
  color: #ff4083;
  padding-right: 31px;
  background: url(../images/heart.png) no-repeat 109px 2px;
  margin-left: 70px;
  margin-top: 20px;
}

#message-sent .message {
  font-weight: bold;
  font-size: 11px;
}

#message-sent .sent {
  font-size: 10px;
}

/**
 * Social Networking.
 */
.block-menu-social {
  float: left;
  margin-top: 30px;
}

.block-menu-social ul li {
  float: left;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

.block-menu-social ul li.first {
  margin-left: 0;
  padding-right: 4px;
  padding-top: 0px;
}

.block-menu-social ul li.last {
  padding-top: 0;
}

.block-menu-social ul li a {
  float: left;
  background: url(../images/social-sprites.png);
  text-indent: -9000px;
  font-size: 0;
}

a#linked-in {
  width: 24px;
  height: 25px;
  background-position: -2px -5px;
}

a#linked-in:hover {
  background-position: -2px -35px;
}

a#twitter {
  width: 27px;
  height: 22px;
  background-position: -40px -7px;
}

a#twitter:hover {
  background-position: -40px -37px;
}

a#behance {
  width: 35px;
  height: 22px;
  background-position: -82px -7px;
}

a#behance:hover {
  background-position: -82px -37px;
}

a#crabs {
  width: 23px;
  height: 30px;
  background-position: -135px -1px;
}

a#crabs:hover {
  background-position: -135px -31px;
}

/**
 * Jackbox.
 */
.jackbox-hide-thumbs,
.jackbox-fs {
  display: none;
}
