/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.region-page-top {
  min-height: 0px;
}

body {
  background: #fcead9;
  font-family: arial, Verdana, sans-serif;
}

#section-content {
  padding-top: 80px;
}

/******************************************************************
 * Navigation.
 ******************************************************************/

#zone-branding-wrapper {
  background: url(../images/brown-triangle-transparent.png) repeat-x top left;
  padding-top: 7px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

#zone-branding-wrapper .region-branding {
  margin: 0;
}

#nav-mobile {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #2b2323;
  width: 100%;
  height: 55px;
  border-bottom: 4px solid #ff4083;
}

#nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav .nav-wrap a {
  background-image: url(../images/menu-sprites-new.png);
  text-indent: -9000px;
  font-size: 0;
}

#nav a#portfolio {
  width: 66px;
  height: 54px;
  float: right;
  background-position: 0 0;
}

#nav a#portfolio:hover,
#nav a#portfolio.active {
  background-position: 0 -54px;
}

#nav a#contact {
  width: 153px;
  height: 54px;
  float: left;
  margin-left: 24px;
  background-position: 0 108px;
}

#nav a#contact:hover,
#nav a#contact.active {
  background-position: 0 -162px;
}


#nav .nav-wrap {
  float: left;
  background: #2b2323;
}

#nav .nav-wrap-left {
  width: 40%;
}

#nav .nav-wrap-right {
  width: 60%;
}



.logo-img {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  margin-left: 0;
}

#nav .logo-img {
  display: none;
}

.logo-img img {
  margin: 0 auto;
}


/******************************************************************
 * Site name and slogan
 *****************************************************************/

.branding-data .name-and-slogan {
  display: none;
}

.site-name {
  margin-top: 7px;
}

.site-name,
.site-slogan {
  font-size: 23px;
  color: #fcead9;
  text-transform: uppercase;
  font-family: Stag Sans Book;
  font-weight: bold;
  line-height: 0;
}

.site-slogan {
  font-size: 18px;
  font-weight: normal;
  font-family: Stag light;
  font-weight: normal;
}

/******************************************************************
 * Gallery.
 *****************************************************************/

#zone-content-wrapper {
  padding-bottom: 41px;
  background: #fcead9 url(../images/brown-triangle.png) repeat-x bottom left;
}

.view-dl-projects {
  text-align: center;
}

.view-dl-projects .view-content {
  width: 305px;
  margin: 0 auto;
}

.view-dl-projects li.views-row {
  display: block;
  padding: 0;
  float: left;
  width: 272px;
  height: 195px;
  border: 10px solid #f3f3f3;
  border-top-width: 8px;
  border-bottom-width: 8px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
  margin-left: 0;
}

.view-dl-projects li.views-row .field-name-field-dl-gallery-media {
  float: left;
  overflow: hidden;
  width: 272px;
  height: 195px;
}

.view-dl-projects li.views-row a img {
  margin-top: 0;
}

.view-dl-projects ul {
  margin: 0;
}

h2.project-title,
.views-field-edit-node {
  position: absolute;
  top: 162px;
  margin-bottom: -100px;
  float: left;
  /*float: left;*/
  z-index: 5;
  margin-top: 0px;
  background: #ff4083;
  color: #f3f3f3;
  margin-left: 8px;
  /*font-size: 30px;*/
  /*font-family: "belta-regular";*/
  /*padding: 1px 15px 3px 15px;*/
  font-size: 18px;
  font-family: Stag Sans Book;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2px 15px;
  letter-spacing: 1px;
}

.views-field-edit-node {
  top: 0px;
  background: #2b2323;
  font-size: 12px;
  padding: 0;
  font-family: Arial, sans-serif;
  text-transform: none;
  margin: 0;
  padding: 2px 4px;
}

.views-field-edit-node a,
.view-dl-projects .attachment-before a {
  color: #ffffff;
  text-decoration: none;
}

.views-field-edit-node a:hover,
.view-dl-projects .attachment-before a:hover {
  color: #ff4083;
}

.view-dl-projects .attachment-before a {
  padding: 5px 10px;
  background: #2b2323;
}

/*h2.project-title {
  position: absolute;
  float: left;
  z-index: 5;
  margin-top: 0px;
  background: #ff4083;
  color: #f3f3f3;
  top: 170px;
  margin-left: 8px;
  font-size: 18px;
  font-family: Stag Sans Book;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2px 15px;
  letter-spacing: 1px;
}*/

h2.project-title span {
  /*height: 25px;*/
  float: left;
}

h2.project-title span .cufon {
  float: left;
}

.pp_details {
  height: 75px;
}

.pp_gallery {
  margin-top: 45px;
  display: block;
  width: 100%;
  float: left;
}

.pp_gallery .img {
  border: 1px solid #000000;
}

/******************************************************************
 * Slogan
 ******************************************************************/

.site-slogan span {
  width: 100%;
  height: 40px;
  background: url(../images/illustration_design.png) no-repeat top center;
  float: left;
  font-size: 0px;
  text-indent: -9000px;
  margin-bottom: 19px;
  margin-top: 65px;
}

/******************************************************************
 * Contact Area
 ******************************************************************/
#section-footer {
  padding-bottom: 55px;
  width: 100%;
  float: left;
}

.region-footer-second {
  width: 100%;
  float: left;
}

#zone-footer-wrapper {
  background: url(../images/brown-triangle-down-mobile.png) repeat-x bottom left;
}

#section-footer {
  background: url(../images/blue-grid-bg.png);
}

#boxes-box-ana_footer {
  font-size: 12px;
  line-height: 1.2;
  float: left;
  height: 56px;
  padding-top: 100px;
  color: #2b2323;
}

#boxes-box-ana_footer .boxes-box-content {
  padding-top: 0px;
  float: left;
}

#boxes-box-ana_footer .boxes-box-content p {
  margin: 0;
  padding: 0;
}

.block-boxes-ana-about,
.block-ana-general-contact {
  margin: 0 auto;
  margin-top: 113px;
}

.block-ana-general-contact {
  margin-top: 50px;
}

.block-boxes-ana-about {
  margin-top: 93px;
  border-bottom: 1px dashed white;
  width: 282px;
  background: url(../images/about-header-mobile.png) no-repeat top center;
  padding: 130px 5px 46px 5px;
}

.block-boxes-ana-about p {
  font-size: 10px;
  width: 200px;
  margin-left: 20px;
}

.block-boxes-ana-about img {
  width: 52px;
  height: 41px;
}

#boxes-box-ana_about {
  padding-left: 50px;
}

#boxes-box-ana_about img {
  float: left;
}

.block-ana-general-contact {
  width: 421px;
  /*background: url(../images/get-in-touch.png) no-repeat top center;*/
  background: url(../images/get-in-touch-sent.png) no-repeat -100px 0;
  padding: 173px 0 0 0;
}

.block-ana-general-contact .content {
  background: url(../images/twisty-arrow.png) no-repeat 15% 100%;
  padding-bottom: 0px;
}

.block-ana-general-contact input,
#boxes-box-ana_about {
  color: #868080;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.block-ana-general-contact .form-type-textfield {
  float: left;
  margin: 0 0 0px 0;
  width: 100%;
}

.block-ana-general-contact .form-type-textfield label {
  float: left;
  clear: left;
  text-align: left;
  color: #fcead9;
  font-size: 15px;
  font-family: Stag Sans Book;
}

.block-ana-general-contact .form-type-textfield .form-required {
  color: #fcead9;
}



.block-ana-general-contact .form-type-textfield input {
  float: left;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0 12px;

}

.block-ana-general-contact label {
  width: 60px;
  margin-left: 10px;
  margin-top: 7px;
}

.block-ana-general-contact .form-item-name {
  margin-bottom: 4px;
}

.block-ana-general-contact .form-item-name input {
  background-image: url(../images/name-field-bg-mob.png);
  width: 171px;
  height: 33px;
  margin-left: 17px;
}

.block-ana-general-contact .form-item-name label {

}

.block-ana-general-contact .form-item-mail {
  margin-bottom: 8px;
}

.block-ana-general-contact .form-item-mail input {
  background-image: url(../images/email-field-bg-mob.png);
  width: 180px;
  height: 32px;
  margin-left: 14px;
  padding-top: 4px;
}

.block-ana-general-contact .form-item-mail label {

}

.block-ana-general-contact .form-item-subject {
  margin-bottom: 4px;
}

.block-ana-general-contact .form-item-subject input {
  background-image: url(../images/subject-field-bg-mob.png);
  width: 186px;
  height: 31px;
  margin-left: 15px;
}

.block-ana-general-contact .form-type-textarea label {
  display: none;
}

.block-ana-general-contact .form-item-subject label {

}


.block-ana-general-contact .form-type-textarea .form-textarea-wrapper {
  float: left;
  width: 100%;
  margin-top: 5px;
}

.block-ana-general-contact .form-type-textarea .form-textarea-wrapper #edit-message {
  background: transparent url(../images/message-field-bg-mob.png) no-repeat top center;
  border: none;
  float: left;
  width: 289px;
  height: 153px;
  margin-left: 10px;
  padding: 12px 20px 12px 12px;
  color: #868080;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.block-ana-general-contact .form-actions input {
  position: relative;
  right: 108px;
  float: right;
  margin: 9px 0 0 0;
  background: url(../images/send-btn-sprites.png) no-repeat top left;
  border: none;
  text-indent: -9000px;
  font-size: 0;
  width: 110px;
  height: 36px;
  -webkit-border-radius: 0
  moz-border-radius: 0;
  border-radius: 0;
}

.block-ana-general-contact .form-actions input:hover,
.block-ana-general-contact .form-actions input:focus {
  background-position: 0 -42px;
}

body .contact-form textarea:focus,
body .contact-form input:focus {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.submitted-img {
  margin-left: 90px;
  margin-top: 0px;
}

/**
 * Social Networking.
 */
.block-menu-social {
  padding-top: 5px;
  padding-left: 150px;
  float: left;
}

.block-menu-social ul li {
  float: left;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

.block-menu-social ul li a {
  float: left;
  background: url(../images/social-sprites.png);
  text-indent: -9000px;
  font-size: 0;
}

a#linked-in {
  width: 25px;
  height: 24px;
  background-position: 0px -2px;
}

a#linked-in:hover {
  background-position: 0px -35px;
}

a#twitter {
  width: 29px;
  height: 27px;
  background-position: -40px -2px;
}

a#twitter:hover {
  background-position: -40px -35px;
}

a#behance {
  width: 40px;
  height: 27px;
  background-position: -82px -2px;
}

a#behance:hover {
  background-position: -82px -35px;
}

a#crabs {
  width: 25px;
  height: 29px;
  background-position: -135px 0px;
}

a#crabs:hover {
  background-position: -135px -33px;
}
